each report in reports 
    tr
        td #{report.date}
        td #{report.timeIn}
        td #{report.timeOut}
        td #{report.supervisorName} 
        td #{report.supervisoremail}
        td.workdesc-column 
            text.desc #{report.workdescription}
        td #{report.hours}
        td #{report.remark}
        td
            .status-box
                if report.verificationstatus === 'Verified'
                    img(src="../../ojt-images/check-mark.png")
                else
                    img(src="../../ojt-images/x-mark.png")
