each report in reports
  tr
    td #{report.date}
    td #{report.timeIn}
    td #{report.timeOut}
    td #{report.hours}
    td #{report.workdescription}
    td #{report.verificationstatus}
    td #{report.remark}