meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Admin
link(rel="stylesheet" type="text/css" href="/ojt-pending/styles.css")
link(rel="stylesheet", href="https://unicons.iconscout.com/release/v4.0.0/css/line.css")
header
  nav.navbar
    .nav-logo SAINT LOUIS UNIVERSITY
    .nav-name  
      p #{adviser.adviserName.split(' ').reverse().join(' ').replace(',', '') }
    form(action='/ojt-dashboard/uploadpp' method='POST' target='_blank')
      .nav-item
          img#profile-image(src='../ojt-images/user-profile.png' alt='Profile')
          input#fileInput(type='file', style='display: none;', accept='image/*', name="prof_image")
main.container
  aside.left-nav
    ol
      li
        a(href="/ojt-dashboard") DASHBOARD
      li
        a(href="/ojt-pending") PENDING
      li
        a(href="/ojt-about-us") ABOUT US
        form(action='/logout' method="GET")
          input(id="logoutbutton" type="submit" value="LOG OUT")
  section
    .section-holder
      .pending-title Pending Students
      .pending-students-box
        .title-filter-box
          h4 Students
          .view-box
            .view-dropdown-box
              label(for="view-dropdown") View by
              select#dropdown
                option(value="default" data-view="default") Default
                option(value="name" data-view="name") Name
                option(value="classcode" data-view="classcode") Class Code
                option(value="company" data-view="company") Company
                option(value="address" data-view="address") Address
            .search-field-box
              input#search-input(type="text", placeholder="Search here...")
              i.uil.uil-search#search-icon
        .overlay#overlay
        .scrollable
          table.students-table
            tbody
              tr.table-header
                th NAME
                th CLASS CODE
                th COMPANY
                th ADDRESS
                th WORK TYPE
                th STATUS
              if pendingStudents.length > 0
                each student in pendingStudents
                  tr.table-data(data-student-id=student.studentid)  
                    td= student.studentName
                    td= student.classcode 
                    td= student.companyname 
                    td= student.companyaddress
                    td= student.worktype
                    td
                      div.status-box
                          img(src='/ojt-images/check-mark.png' class='status-update' alt='ACCEPTED')
                          img(src='/ojt-images/x-mark.png' class='status-update' alt='REJECTED') 
              else 
                tr 
                  td.no-pending-msg(colspan='5') NO PENDING STUDENTS FOUND
        //  pop-up container for student requirements 
        .popup-container#popupContainer
          span.close-btn(onclick="closePopup()") ×
          .requirements-box
            h2#studentName
            .popup-scrollable
              table
                tbody
                  tr
                    th Requirements
                    th Date Submitted
                    th Remarks
                    th Status
          .button-box
            .button-holder
              //- button.add-btn Add Requirement
              button.cancel-btn Cancel
              button.save-btn Save
      .note NOTE: CLICK ON THE NAME OF THE SELECTED INTERN TO VIEW INTERN REQUIREMENTS
.footer 
  .text 
    | DESIGN BY BRANCH @


script(src="https://code.jquery.com/jquery-3.6.0.min.js")
script(src="./script.js")

